<link href="css/Technician/awaitingListPage.css" rel="stylesheet" type="text/css">
<body>
	<div class="row">
		<section class="content">
			<h1>Awaiting issues to be picked up</h1>
			<div class="col-md-8 col-md-offset-2">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="pull-left">
							<h5>Filters:</h5>
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-filter" data-target="all">Waiting</button>
								<button type="button" class="btn btn-default btn-filter" data-target="all">In Progress</button>
								<button type="button" class="btn btn-default btn-filter" data-target="all">Completed</button>
								<button type="button" class="btn btn-default btn-filter" data-target="all">Closed</button>
						  </div>
						</div>
						<div class="pull-right">
							<h5>Sort by:</h5>
							<div class="btn-group">
								<button type="button" class="btn btn-success btn-filter" ng-click="setSortValue('category')">Category</button>
								<button type="button" class="btn btn-warning btn-filter" ng-click="setSortValue('manufacturer')">Manufacturer</button>
								<button type="button" class="btn btn-danger btn-filter" ng-click="setSortValue('model')">Model</button>
								<button type="button" class="btn btn-info btn-filter" ng-click="setSortValue('status')">Status</button>
							</div>
						</div>
						<div class="table-container">
							<table class="table">
								<thead>
									<tr>
										<th>Customer's info</th>
										<th>Category</th>
										<th>Manufacturer</th>
										<th>Model</th>
										<th>Issue</th>
										<th>Detail</th>
										<th>Status</th>
									</tr>
								</theah>
								<tbody>
									<tr ng-repeat="eachListing in sampleData | orderBy:sortValue | filer:filterValue">
										<td>
											<div class="media">
												<a href="#" class="pull-left">
													<img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
												</a>
											</div>
											<h5>Email: {{eachListing.email}}</h5>
										</td>
										<td>
											{{eachListing.name}}
										</td>
										<td>
											{{eachListing.manufacturer}}
										</td>
										<td>
											{{eachListing.model}}
										</td>
										<td>
											{{eachListing.issue}}
										</td>
										<td>
											{{eachListing.description}}
										</td>
										<td>
											{{eachListing.status}}
										</td>
									</tr>
									<!-- <tr>
											<th></th>
									</tr> -->
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>

<!-- $(document).ready(function () {

	$('.star').on('click', function () {
      $(this).toggleClass('star-checked');
    });

    $('.ckbox label').on('click', function () {
      $(this).parents('tr').toggleClass('selected');
    });

    $('.btn-filter').on('click', function () {
      var $target = $(this).data('target');
      if ($target != 'all') {
        $('.table tr').css('display', 'none');
        $('.table tr[data-status="' + $target + '"]').fadeIn('slow');
      } else {
        $('.table tr').css('display', 'none').fadeIn('slow');
      }
    });

 });-->
