<link href="css/Technician/freelancer.min.css" rel="stylesheet" type="text/css">
<div id="page-top" class="index">
<div class = "thumbnail">
  <h2>My Services</h2>
  <div class="table-responsive" style="width:100%; overflow:auto;">
       <table class="table table-striped" border = "0" cellpadding = "0" cellspacing = "2">
         <thead>
           <tr>
             <th>Category</th>
             <th>Manufacturer</th>
             <th>Model</th>
             <th>Issue</th>
             <th>Service Type</th>
             <th>Estimated Amount</th>
           </tr>
         </thead>
         <tbody>
            <tr ng-repeat="ser in listServices">
              <td>{{ser.category}}</td>
              <td>{{ser.manufacturer}}</td>
              <td>{{ser.model}}</td>
              <td>{{ser.issue}}</td>
              <td ng-if="ser.servType === 0">Item Based</td>
              <td ng-if="ser.servType === 1">Time Based</td>
              <td>{{ser.estAmount}}</td>
            </tr>
          </tbody>
     </table>
  </div>
</div>
</div>
