<div id="page-top" class="index">
<div class = "thumbnail">
  <h2>My Services</h2>
  <div class="table-responsive" style="width:100%; overflow:auto;">
       <table class="table table-striped" border = "0" cellpadding = "0" cellspacing = "2">
         <thead>
           <tr>
             <th>Category</th>
             <th>Manufacturer</th>
             <th>Model</th>
             <th>Issue</th>
             <th>Service Type</th>
             <th>Estimated Amount</th>
             <!-- <th>Delete Service</th> -->
           </tr>
         </thead>
         <tbody>
            <tr ng-repeat="ser in listServices">
              <td>{{ser.category}}</td>
              <td>{{ser.manufacturer}}</td>
              <td>{{ser.model}}</td>
              <td>{{ser.issue}}</td>
              <!-- <td ng-if="ser.servType === 0">Item Based ($/service)</td>
              <td ng-if="ser.servType === 1">Time Based ($/hour)</td> -->
              <td>
                <select
                  ng-model="ser.servType">
                  <option ng-selected="ser.servType === 0">Item Based ($/service)</option>
                  <option ng-selected="ser.servType === 1">Time Based ($/hour)</option>
                </select>
              </td>
              <!-- <td>{{ser.estAmount}}</td> -->
              <td>
                <span>
                  <input type="number" name="input" style="width: 37%" ng-model="ser.estAmount">
                  <button type="button" class="btn btn-sm btn-success" style="width: 38%" ng-click="updatePrice()">Update</button>
                  <button type="button" class="btn btn-danger" style="width: 20%" ng-click="deleteService()">x</button>
                </span>
              </td>

            </tr>
          </tbody>
     </table>
     <button type="button" class="btn btn-lg btn-light" ng-click="goToTechnician()">Back</button>
     <button type="button" class="btn btn-lg btn-success btn-light" ng-click="goToissueGudiance()">Provide more services</button>
  </div>
</div>
</div>
