<div id="page-top" class="index">
<div class = "thumbnail">
  <div class="col-md-10 col-md-offset-1">

  <h2>My Services</h2>

  <div class="table-responsive" style="width:100%; overflow:auto;">
       <table class="table table-striped" border = "0" cellpadding = "0" cellspacing = "2">
         <thead>
           <tr>
             <th style="width: 8%">Category</th>
             <th style="width: 10%">Manufacturer</th>
             <th style="width: 10%">Model</th>
             <th style="width: 15%">Issue</th>
             <th style="width: 17%">Service Type</th>
             <th style="width: 7%">Estimated Amount</th>
             <th style="width: 5%">Enabled</th>
             <th style="width: 10%">Confirm Changes</th>
           </tr>
         </thead>
         <tbody>
            <tr ng-repeat="ser in listServices">
              <td>{{ser.category}}</td>
              <td>{{ser.manufacturer}}</td>
              <td>{{ser.model}}</td>
              <td>{{ser.issue}}</td>
              <!-- <td ng-if="ser.servType === 0">Item Based ($/service)</td>
              <td ng-if="ser.servType === 1">Time Based ($/hour)</td> -->
              <td>
                <select
                  >
                  <option ng-model="ser.servType" ng-selected="ser.servType === 0">Item Based ($/service)</option>
                  <option ng-model="ser.servType" ng-selected="ser.servType === 1">Time Based ($/hour)</option>
                </select>
              </td>
              <!-- <td>{{ser.estAmount}}</td> -->
              <td>
                  <input type="number" name="input" style="width: 100%" ng-model="ser.estAmount">
              </td>
              <td>
                <input type="checkbox" ng-model="ser.status" ng-true-value="1" ng-false-value="0">
              </td>
              <td>
                <button type="button" class="btn btn-sm btn-success" style="width: 100%"
                  ng-click="updateService(ser.id_serTec, ser.status, ser.estAmount, ser.servType)">Update</button>
              </td>

            </tr>
          </tbody>
     </table>
     <button type="button" class="btn btn-lg btn-light" ng-click="goToTechnician()">Back</button>
     <button type="button" class="btn btn-lg btn-success btn-light" ng-click="goToissueGudiance()">Provide more services</button>
  </div>
  </div>
</div>
</div>
