.ng-hide {

  height: 0;
}
#submitBtn {
  transition: all linear 2.5s;
  background-color: lightblue;
}

#icon-bar{
  width: 100%;
}

.centeredByPadding{
  padding-top:20%;
}

#ngView{
  margin-top:10px;
  height: 100%;
}

/* The following classes are added automatically to an elements that is being added to or took out the scope.*/
.ng-enter{
  transition: 0.3s linear all;
  opacity: 0;
  transform: translateY(30px);
}

/*At the end of entering*/
.ng-enter.ng-enter-active{
  transform: translateY(0px);
  opacity: 1;
}

/*At the start of leaving*/
.ng-leave{
  transition: 9s liner all;
  opacity: 1;
  transform: translateX(0);
}

.ng-leave.ng-leave-active{
  transform: translateZ(-100%);
  opacity: 0;
}
