.ng-hide {

  height: 0;
}
#submitBtn {
  transition: all linear 2.5s;
  background-color: lightblue;
}

#icon-bar{
  width: 100%;
}

.centeredByPadding{
  padding-top:20%;
}

#ngView{
  margin-top:10px;
  height: 100%;
}

.vertical-align{
    display: flex;
    flex-direction: row; /*Defines the main-axis along which flex items are put in.*/
    justify-content: center; /*define alignment along the main axis*/
    align-items: center;/*define the alignment along the cross axis*/
}