<div id="page-top" class="index">
<div class = "thumbnail">
  <h2>Personal account and information</h2>
  <br>
  <div class = "thumbnail">
    <h3>Email:</h3>
    <span>
      <input type="email" name="email" ng-style="warning-email" ng-model="email" required />
      <button type="button" class="btn btn-success" ng-click="onClickChangeEmail()">Change</button>
    </span>
  </div>

  <div class = "thumbnail">
    <h3>Password</h3>
    <span>
      <button type="button" class="btn btn-success" ng-click="onClickChangePassword()">Change</button>
    </span>
  </div>

  <div class = "thumbnail">
    <h3>First name:</h3>
    <span>
      <input type="text" name="firstName" ng-model="firstName" required />
      <button type="button" class="btn btn-success" ng-click="onClickChangeFirstName()">Change</button>
    </span>
  </div>

  <div class = "thumbnail">
    <h3>Last name</h3>
    <span>
      <input type="text" name="lastName" ng-model="lastName" required />
      <button type="button" class="btn btn-success" ng-click="onCLickChangeLastName()">Change</button>
    </span>
  </div>

  <div class = "thumbnail">
    <h3>Hourly Rate</h3>
    <span>
      <input type="text" name="hourlyRate" ng-model="hourlyRate" required />
      <button type="button" class="btn btn-success" ng-click="onClickChangeHourlyRate()">Change</button>
    </span>
  </div>

  <div class = "thumbnail">
    <h3>City</h3>
    <span>
      <input type="text" name="city" ng-model="city" required />
      <button type="button" class="btn btn-success" ng-click="onClickChangeCity()">Change</button>
    </span>
  </div>

  <div class = "thumbnail">
    <h3>Zip</h3>
    <span>
      <input type="text" name="zip" ng-model="zip" required />
      <button type="button" class="btn btn-success" ng-click="onClickChangeZipCode()">Change</button>
    </span>
  </div>

</div>
</div>
