
.container {
  padding-top: 20px;
}

table {
	 table-layout: fixed;
}

.ng-show {
  transition:0.5s linear all;
  opacity:2;
}

.thumbnail{
  overflow:auto;
}

.issue-label:active{
  background-color: #DCDCDC;
}

#serviceTypeSelection{
  float: left;
  width: 70%;
}

#issueColumn{
  width: auto;
  margin: 5px;
  padding: 5px;
}

#amountSelection
{
  width: 25%;
  float: left;
  overflow:auto;
  margin: 5px;
}

.issueGuidanceBtn{
  width: 100%
}

.issue-label{
  width: 100%;
  font-size: 20px;
  display: inline-block;
  white-space: normal; 
}

.content-area {
  margin-top: 10px;
  padding: 10px;
}

.sample-show-hide {
  animation: 0.5s appear_animation;
}

@keyframes appear_animation {
  from { opacity:0; }
  to { opacity:1; }
}

@keyframes disappear_animation {
  from { opacity:1; }
  to { opacity:0; }
}
