.btn {

}

.container {
  padding-top: 20px;
}

.ng-show {
  transition:0.5s linear all;
  opacity:2;
}

.thumbnail{
  overflow:auto;
}

.issue-label:active{
  background-color: grey
}

.issueGuidanceBtn{
  width: 100%
}

.issue-label{
    width: 100%;
    font-size: 20px;
    display: inline-block;
}

.content-area {
  margin-top: 10px;
  padding: 10px;
}

.sample-show-hide {
  animation: 0.5s appear_animation;
}


@keyframes appear_animation {
  from { opacity:0; }
  to { opacity:1; }
}

@keyframes disappear_animation {
  from { opacity:1; }
  to { opacity:0; }
}
