.btn {

}

.container {
  padding-top: 20px;
}

.ng-show {
  transition:0.5s linear all;
  opacity:2;
}

.thumbnail{
  overflow:auto;
}

.issue-label:active{
  background-color: grey
}

.issueGuidanceBtn{
  width: 100%
}

.input-sm{
  width: 10%;
}

.issue-label{
    width: 100%;
    font-size: 20px;
    display: inline-block;
}

.content-area {
  margin-top: 10px;
  padding: 10px;
}

.sample-show-hide {
  transition: all linear 1.0s;
}
.sample-show-hide.ng-hide {
  opacity: 0;
}
