<div class="container" style="padding-top:15%;">
  <h2 class=" text-success">Please enter your information:</h2>
  </br>
  </br>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2 text-success" for="email">Please Enter Your Email Again:</label>
      <div class="col-sm-10">
        <input class="form-control" ng-model="email" placeholder="Enter email">
        <div class="text-danger" ng-if="!email && hasClickedSubmit"><h5>Missing</h5></div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2 text-success" for="email">Please Confirm Your Email:</label>
      <div class="col-sm-10">
        <input class="form-control" ng-model="confirmationEmail" placeholder="Enter email">
        <div class="text-danger" ng-if="!confirmationEmail && hasClickedSubmit"><h5>Missing</h5></div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2 text-success" for="pwd">New Password:</label>
      <div class="col-sm-10">
        <input class="form-control" ng-model="newPassword" placeholder="Enter password">
        <div class="text-danger" ng-if="!newPassword && hasClickedSubmit"><h5>Missing</h5></div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-warning" ng-click="onClickSubmit()">Submit</button>
      </div>
    </div>
  </form>
</div>
