

body{
  background: #f7f5f5;

}

.horizontal-align{
  text-align: center;
  height: 100%;
  width: 100%;
}

.customerContainer{
  width: 100%;
  height: 100%;
}

.cus-veritcal-align{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.progressLabel{
  display: inline-block;
}
/*.thumbnail{
  display: table;
  text-align: center;
  border-radius: 10px;
  height: 100px;
  width: 200px;
}

.thumbnail p{
  display: table-cell;
  vertical-align: middle;
}*/