#centeredBox{
  position: absolute;
  top: 50%;
}

#centeredBoxForCate{
  position: absolute;
  top:30%;
}

.thumbnail{
  padding: 0px;
  height: 80px;
  color: white;
  background-color: #67BCDB;
  border-radius: 20px;
}

div > p{
  top: 50%;
}
