body{
  background: #f7f5f5;
}

.pull-left{
  padding-left: 50px;
}

.horizontal-align{
  text-align: center;
  height: 100%;
  width: 100%;
}

.customerContainer{
  width: 100%;
  height: 100%;
}

.thumbnail{
  display: inline-block;
  height: 150px;
  width: 120px;
  background-repeat: no-repeat;
  text-align: center;
  overflow: auto;
  font-size: 16px;
  font-weight:bold;
  border-radius: 10px;
  vertical-align: middle;
  line-height: 200px;  
}

.activeThumbnail{
  background-color:	#DCDCDC;
}

.thumbnail p{
  position: relative;
  height: 10px;
  line-height: 110%;
  top: 40%;
  width: 100%;

}

.thumbnail img{
  height: 50px;
  width: 50px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#progressSection{
  overflow-x: scroll;
}

/*
.row:nth-of-type(1){
  border-bottom: 10px;
}*/

.btn{
  width: 200px;
  height: 40px;
}
.cus-veritcal-align{
  position: relative;
  top: 20%;
  transform: translateY(-50%);
}

.progressLabel{
  display: inline-block;
  padding-right: 40px;
}

.row{
  padding-top: 50px;
  height: 30px;
}

#row1{
  margin-bottom: 10px;
  overflow-x:scroll; 
  height:130px;
}

/* If Less than col-lg, apply the css ----------- */
@media only screen 
and (max-width: 1200px){
  .cus-veritcal-align{
    position: relative;
    top: 20%;
    transform: translateY(0%);
  }  
}