<center>
    <div id="login-form">
        <form method="post">
            <table align="center" width="70%" border="0">
                <h5>Verify your new password</h5>

                <tr>
                    <td>
                      <div ng-form='newPass'>
                        <input type="password" name="newPassword" ng-model="pass.newPass" placeholder="New Password*" required />
                      </div>
                    </td>
                </tr>
                <tr>
                    <td>
                      <div ng-form='confirmNewPass'>
                        <input type="password" name="newConfirmedPassword" ng-model="pass.cNewPass" placeholder="Confirm New Password*" required />
                      </div>
                    </td>
                </tr>
                <tr>
                    <td>
                      <button ng-disabled="!newPass.$valid || !confirmNewPass.$valid || pass.newPass != pass.cNewPass" class="btn btn-success" type="submit" name="btn-signup" ng-click="changePass()">Change Password</button>
                      <button class="btn btn-warning" type="submit" name="btn-signup" ng-click="$close()">Cancel</button>
                    </td>
                </tr>
            </table>
            <br>
        </form>
    </div>
</center>
