<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/Customer/techListing.css" type="text/css"/>
<div class="container" ng-repeat="user in listServices track by $index" style="margin-top: 20px; margin-bottom: 20px;">
    <!--<div class="thumbnail" ng-repeat="user in listServices track by $index">-->
        <div class="row panel">
            <div class="col-md-4 bg_blur ">
                <a href="#" class="follow_btn hidden-xs">Follow</a>
            </div>
            <div class="col-md-8  col-xs-12">
            <img src={{user.avatar}} class="img-thumbnail picture hidden-xs" />
            <!--<img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="img-thumbnail visible-xs picture_mob" />-->
            <div class="header2">
                    <h1>{{user.firstName}} {{user.lastName}}</h1>
                    <h4>{{user.website}}</h4>
                    <span>{{user.aboutMe}}..."</span>
            </div>
            </div>
        </div>   
        
        <div class="row nav">    
            <div class="col-md-4"></div>
            <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
                <div class="col-md-4 col-xs-4 well"><i class="fa fa-weixin fa-lg"></i> 16</div>
                <div class="col-md-4 col-xs-4 well"><i class="fa fa-heart-o fa-lg"></i> 14</div>
                <div class="col-md-4 col-xs-4 well"><i class="fa fa-thumbs-o-up fa-lg"></i> 26</div>
            </div>
        </div>
    <!--</div>-->
</div>