<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="list-style-type: none;">
      <li class="nav-item active">
        <a class="btn btn-default" type-"button" ng-click="selection = 'SeeAllUsers'">See all users</span></a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-default" type-"button" ng-click="selection = 'SeeAllServices'">See all services</a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-default" type-"button" ng-click="addUser()"  ng-click="selection = 'AddAnUser'">Add an user</a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-default" type-"button" ng-click="selection = 'AddACategoryToDB'">Add a Category to DB</a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-default" type-"button" ng-click="selection = 'AddAManufacturerToDB'">Add a Manufacturer to DB</a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-default" type-"button" ng-click="selection = 'AddAModelToDB'">Add a Model to DB</a>
      </li>
      <li class="nav-item active">
        <a class="btn btn-default" type-"button" ng-click="selection = 'AddAIssueToDB'">Add a Issue to DB</a>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>

<div ng-switch="selection">

  <div class="col-xs-10 col-md-10 col-lg-10 col-md-offset-1" ng-switch-when="SeeAllUsers">
      <div class="thumbnail" ng-repeat="user in users | orderBy:'id'">
              <!-- id: {{user.id}}<br/> -->
              Email: {{user.email}}<br/>
              Role: <span ng-switch="{{user.role}}">
                        <span ng-switch-when="1">Technician</span>
                        <span ng-switch-when="2">Admin</span>
                    </span><br/>
              First Name: {{user.firstName}}<br/>
              Last Name: {{user.lastName}}<br/>
              Hourly Rate: {{user.hourlyRate}}<br/>
              City: {{user.city}}<br/>
              Zip Code: {{user.zip}}<br/>

              <button class="btn btn-danger" type-"button" ng-click="deleteUser(user.id)">Delete User</button>
              <!-- FOR FUTURE<button class="btn btn-warning" type-"button" ng-click="modifyUser()">MODIFY</button> -->
      </div>
  </div>

  <div class="col-xs-10 col-md-10 col-lg-10 col-md-offset-1" ng-switch-when="SeeAllServices">
      <div class="thumbnail" ng-repeat="serv in servs">
              Category: {{serv.category}}<br/>
              Manufacturer: {{serv.manufacturer}}<br/>
              Model: {{serv.model}}<br/>
              Issue: {{serv.issue}}<br/>
              Service Type: <span ng-switch="{{serv.servType}}">
                            <span ng-switch-when="0">Item based</span>
                            <span ng-switch-when="1">Service based</span>
                          </span><br/>
              Estimated Amount: {{serv.estAmount}}<br/>

              <button class="btn btn-danger" type-"button" ng-click="deleteService(serv.id)">Delete Service</button>
              <!-- FOR FUTURE<button class="btn btn-warning" type-"button" ng-click="modifyService()">MODIFY</button> -->
      </div>
  </div>
</div>
