<center>
  <div id="upload-form">
    <!--<form name="upload" enctype="multipart/form-data" data-ng-submit="addFile()">
      <input type="file" id="fileselect" name="images" file-model = "images" multiple="multiple" onchange="angular.element(this).scope().uploadedFile(this)"/>
    </form>
    <progress id="progress" max="100" value="0"></progress>
    <button class="btn" id="submit" ng-click="uploadFiles()">Upload</button>-->

    <br/>
    <form name="upload" class="form" data-ng-submit="addFile()">
      Album Name: <input type="text" name="albumName" ng-model="albumName"
                         required="required"/><br/>
      Description: <input type="text" name="description"
                          ng-model="description" required="required"/>
      <input type="file" name="file" required="required" multiple
             onchange="angular.element(this).scope().uploadedFile(this)" />
      <button type="submit">Upload </button>
    </form>

    <hr/><hr/>
    <div class="thumb" data-ng-repeat="image in images">
      <img data-ng-src="{{image.thumb}}">
      <hr/>
    </div>

    <hr/><hr/>
    <div class="real-picture" data-ng-repeat="image in images">
      <img data-ng-src="{{image.url}}" height="200" width="200">
      <hr/>
    </div>
  </div>
</center>