/* Styles for Large Modal
   Removes slide-up animation */
.modal-dialog.modal-lg {
  -webkit-transform: translate(0,0) !important;
  -ms-transform: translate(0,0) !important;
  transform: translate(0,0) !important;
}

/* Styles for Small Modal
   Changes slide-up animation to slide-down */
.modal-dialog.modal-sm {
  -webkit-transform: translate(0,25%) !important;
  -ms-transform: translate(0,25%) !important;
  transform: translate(0,25%) !important;
}
.modal.in > .modal-dialog.modal-sm {
  -webkit-transform: translate(0,0) !important;
  -ms-transform: translate(0,0) !important;
  transform: translate(0,0) !important;
}
