
<body class="container">
   <h3 ng-bind = "progressMessage">Start from types</h3>
   <div class="progress">
     <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="progressBarDisplay">
              {{ progressPercentage }} Complete
     </div>
   </div>
   <div class="row">

       <div class="col-xs-12 col-md-2">
         <div class="thumbnail">
           <h3>Type(s)</h3>
             <button type="button" class="btn btn-success" ng-show="!hasSelectedType" ng-click="selectType()">Skip</button>
           <div class = "table-responsive">
             <table class = "table">
               <tbody>
                 <tr ng-repeat = "type in allTypes track by $index" data-index="{{$index}}">
                    <td><button type="button" class="btn btn-default" ng-style="buttonStyle(type)" ng-click="selectType(type)"> {{ type }} </button></td>
                 </tr>
               </tbody>
             </table>
           </div>
         </div>
       </div>

       <div class="col-xs-12 col-md-2">
         <div class="thumbnail" ng-show="hasSelectedType">
           <h3>Manufacturer(s)</h3>
             <button type="button" class="btn btn-success" ng-show="!hasSelectedType || !hasSelectedManu" ng-click="selectManu()">Skip</button>
           <div class = "table-responsive">
             <table class = "table">
               <tbody>
                 <tr ng-repeat = "manu in manufactueres track by $index">
                    <td><button type="button" class="btn btn-default" ng-style="buttonStyle(manu)" ng-click="selectManu(manu)"> {{ manu }} </button></td>
                 </tr>
               </tbody>
             </table>
           </div>
         </div>
       </div>

       <div class="col-xs-12 col-md-2">
         <div class="thumbnail" ng-show="hasSelectedType && hasSelectedManu">
           <h3>Model(s)</h3>
             <button type="button" class="btn btn-success" ng-click="selectModel()" ng-show="!hasSelectedType || !hasSelectedManu || !hasSelectedModel">Skip</button>
           <div class = "table-responsive">
             <table class = "table">
               <tbody>
                 <tr ng-repeat = "model in models track by $index">
                    <td><button type="button" class="btn btn-default" ng-style="buttonStyle(model)" ng-click="selectModel(model)"> {{ model }} </button></td>
                 </tr>
               </tbody>
             </table>
           </div>
         </div>
       </div>

       <div class="col-xs-12 col-md-2">
         <div class="thumbnail" ng-show="hasSelectedType && hasSelectedManu && hasSelectedModel">
           <h3>Issue(s)</h3>
             <button type="button" class="btn btn-success" ng-click="selectIssue()" ng-show="!hasSelectedType || !hasSelectedManu || !hasSelectedModel || !hasSelectedIssue">Skip</button>
           <div class = "table-responsive">
             <table class = "table">
               <tbody>
                 <tr ng-repeat = "issue in issues track by $index">
                   <td><button type="button" class="btn btn-default" ng-style="buttonStyle(issue)" ng-click="selectIssue(issue)">{{ issue }}</button></td>
                 </tr>
               </tbody>
             </table>
           </div>
         </div>
       </div>
      <!--
       <div class="col-xs-12 col-md-1">
         <div class="thumbnail" ng-show="hasSelectedType && hasSelectedManu && hasSelectedModel && hasSelectedIssue">
           <h3>Amount</h3>
             <button type="button" class="btn btn-success">Per Service</button>
             </br>
             <button type="button" class="btn btn-success">Hourly Rate</button>
             <input type="text" name="price" ng-model="priceModel">
         </div>
       </div> -->

       <div class="col-xs-12 col-md-4">
        <div class="thumbnail">
          <h3>You're offering:</h3>
           <button type="button" class="btn btn-success">Skip</button>
           <div class = "table-responsive">
             <table class = "table">
               <tbody>
                 <tr ng-repeat = "item in allCompletedItems track by $index">
                   <td>{{ item.coworker }}</td>
                 </tr>
               </tbody>
             </table>
           </div>
         </div>
       </div>

   </div>
</body>
